# This workflow will run unit tests on the code at pull request time

name: Run Unit Tests

on:
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - reopened

jobs:
  run-python-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ">=3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv venv .venv && source .venv/bin/activate
          uv pip install ".[test,cli]"

      - name: Run PyTest
        env:
          PYTHONPATH: src
        run: |
          source .venv/bin/activate
          pytest

      - name: Run MyPy  # Typing Checking
        run: |
          source .venv/bin/activate
          mypy src/ 

      - name: Run Ruff  # Linting
        run: |
          source .venv/bin/activate
          ruff check src/

  run-python-tests-from-test-pypi:
    runs-on: ubuntu-latest
    if: github.base_ref == 'main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ">=3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Get version
        id: get-version
        run: |
          VERSION=$(grep ^version pyproject.toml | sed -r 's/^version = "(.*)"(.*)/\1/g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          uv venv .venv && source .venv/bin/activate
          VERSION=${{ steps.get-version.outputs.version }}
          
          echo "Installing Test PyPI fsio==$VERSION"
          uv pip install --index-url https://test.pypi.org/simple/ fsio==$VERSION
          
          echo "Installing test requirements"
          uv pip compile pyproject.toml --extra test --extra cli > test.requirements.txt
          uv pip install -r test.requirements.txt

      - name: Run PyTest
        run: |
          source .venv/bin/activate
          pytest --no-cov  # override
